body {
  background-color: #D6F7D9;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 1em;
  color: #184B5E;
  margin-top: 6em;
}

ul, li {
  margin: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: #EEE;
}

i:hover, .add-button:hover {
  color: #90CFBA;
}

header {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  background-color: #184B5E;
  color: #EEE;
  height: 5em;
  font-family: 'Shadows Into Light', sans-serif;
  text-align: center;
}

input {
  font-family: 'Shadows Into Light', sans-serif;
}

.icon-calendar, .icon-plus {
  position: absolute;
  display: inline;
  top: 0.75em;
  color: #EEE;
  font-size: 2em;
}

.icon-calendar {
  float: left;
  left: 2em;
}

.page-title {
  position: relative;
  margin: 0.75em auto;
  color: #EEE;
  font-size: 2em;
}

.icon-plus {
  float: right;
  right: 2em;
}

/*.container {
  display: block;
  width: 100%;
  margin: 0 auto;
}*/ 

.new-appt {
  width: 100%;
  margin-top: 6.5em;
  border: 1em;
 /* box-shadow: inset -3px 5px 64px -14px rgba(1,133,181,0.65); */
}

label {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 1.5em;
  color: #184B5E;
  position: relative;
  display: block;
  width: 40%;
  margin: 0.5em auto;
}

.new-appt input {
  position: relative;
  display: block;
  width: 40%;
  margin: auto;
  line-height: 1.5em;
  font-size: 1.4em;
  color: #184B5E;
}

.save {
  display: block;
  margin: 1em auto;
  height: 2em;
  width: 3em;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 1.5em;
  background-color: #184B5E;
  color: #EEE;
}
